<%- include('components/alert') %>
<%- include('components/nav') %>

<section class="main">
  <div class="container text-center">
    <h1 style="font-weight: 600">E-Pemilwa</h1>
    <h4>
      Website pemilihan mahasiswa yang aman, transparan, dan terpercaya.
      <div></div>
      Menggunakan teknologi
      <span style="color: #0b3c84; font-weight: 600">Hyperledger Fabric Blockchain</span>, memastikan setiap suara tercatat dengan aman dan tidak dapat
      dimanipulasi.
    </h4>
    <div class="mt-3">
      <a href="/login"><button type="button" class="btn btn-login">Mulai Memilih</button></a>
    </div>
  </div>
</section>