<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="bi bi-list"></i>
        </button>
        <div class="sidebar-logo">
            <a href="/admin">E-Pemilwa</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="/admin" class="sidebar-link">
                <i class="bi bi-grid-1x2"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/admin" class="sidebar-link">
                <i class="bi bi-person-circle"></i>
                <span>Kelola Admin</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/candidate" class="sidebar-link">
                <i class="bi bi-people-fill"></i>
                <span>Kelola Kandidat</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/voter" class="sidebar-link">
                <i class="bi bi-person"></i>
                <span>Kelola Pemilih</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/voter/report" class="sidebar-link">
                <i class="bi bi-file-earmark-person"></i>
                <span>Laporan Pemilih</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/result" class="sidebar-link">
                <i class="bi bi-clipboard-data"></i>
                <span>Laporan Hasil</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/integrity" class="sidebar-link">
                <i class="bi bi-envelope-check"></i>
                <span>Cek Integritas Suara</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/logout" class="sidebar-link">
                <i class="bi bi-box-arrow-left"></i>
                <span>Keluar</span>
            </a>
        </li>
    </ul>
</aside>